*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header{
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;

}
main{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.pixel {
   height: 100%;
   width: 100%;
    background-color: antiquewhite;
}

.pixel-grid{
    border: 1px solid #333;
    display: grid;
    gap: 1px;
    height: 77vh;
    margin: 1rem 2rem;
    max-width: 1440px;
    padding: 2rem;
    width: 77VH;

}

button{
    background-color: #333;
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 1.272rem;
    padding: .5rem 1rem ;
    border: 1px solid #333;
    font-weight: bold;
}

button:hover{
    background-color: antiquewhite;
    color: #333;

}

footer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
}